---
import type { CollectionEntry } from "astro:content";

interface Props {
  entry: CollectionEntry<"articles"> | CollectionEntry<"coffee"> | CollectionEntry<"photos">;
}

const { entry } = Astro.props;

// Coffee entries use 'name', articles/photos use 'title'
const title = entry.collection === "coffee" ? entry.data.name : entry.data.title;

// Coffee entries use roaster/origin as a description
const description = entry.collection === "coffee" 
  ? `${entry.data.roaster} • ${entry.data.origin}` 
  : entry.data.description;
---

<a href={`/${entry.collection}/${entry.slug}`} class="relative group flex flex-nowrap py-3 px-4 pr-10 rounded-lg border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out">
  <div class="flex flex-col flex-1 truncate">
    <div class="font-semibold">
      {title}
    </div>
    <div class="text-sm opacity-60">
      {description}
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="absolute top-1/2 right-4 -translate-y-1/2 size-5 fill-none stroke-current stroke-2">
    <line x1="5" y1="12" x2="19" y2="12" class="scale-x-0 group-hover:scale-x-100 translate-x-4 group-hover:translate-x-1 transition-all duration-300 ease-in-out" />
    <polyline points="12 5 19 12 12 19" class="-translate-x-1 group-hover:translate-x-0 transition-all duration-300 ease-in-out" />
  </svg>
</a>